.content {
    grid-area: c;
    background-color: deepskyblue;
}
.ava-line {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

.postBlock {
    padding-left: 10px;
    padding-bottom: 10px;
}
.textarea {
    display: block;
    width: 300px;
    min-height: 75px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}
.button {
    border: none;
    background: no-repeat;
    background-color: #13ce66;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    box-shadow: 0 5px 5px 0px rgb(000, 000, 000, 0.5);
}
.button:hover {
    cursor: pointer;
}