.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #ffffff;
}
.maesages {
    padding: 10px;
}

.maesages .message {

}
.dialog img {
    width: 20px;
}